@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables/variables";
.switch[data-isOn="true"] {
  justify-content: flex-end;
}
body {
  overflow-x: hidden;
}
@font-face {
  font-family: 'font-44080';
  font-style: normal;
  font-weight: normal;
  src: url('../public/assets/Universal\ Serif.woff');
}
.font-universalSerif {
  font-family: 'font-44080';
}

.card {
  background-image: url("../public/assets/Image\ bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.card::before,
.card::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.571);
  position: absolute;
  width: 100%;
  height: calc(60% + 31.6px);
  transition: transform .5s .25s ease-in;
  z-index: 1;
}

.card::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}

.card::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}

.card:hover::before,
.card:hover::after {
  transform: translateY(0);

}

.card--content {
  opacity: 0;
  transition: opacity .25s;
}

.card:hover .card--content {
  opacity: 1;
  transition-delay: .75s;
}

.slick {

  &-prev,
  &-next {
    display: none !important;
  }
}

.text-shadow {
  text-shadow: 5px 0px 0px #D47AFC;
}

.letter-spacing {
  letter-spacing: 2px;
}

p {
  font-family: Poppins, sans-serif;
}

.btn-dots {
  background: transparent;
  border: 3px solid #fff;


}

.slick-dots li {
  margin: 0 10px !important;
}

.slick-active .btn-dots {
  background: #411061 !important;
}

.rtl {
  direction: rtl;
}

.btn {
  background-color: #411061;
  padding: 15px 30px;
  text-align: center;
  
}

.card--roster .btn {
  width: 100%;
}

.name--roster {
  transition: 0.5s;
  color: #fff;
  background-color: #000;
  background: linear-gradient(to left, #000, #151515d0);
}

.card:hover .name--roster {
  background: #D47AFC;
  box-shadow: 0 0 45px #D47AFC;
}

.name--roster::before {
  content: '';
  position: absolute;
  inset: 2px;
}

.name--roster span {
  position: relative;
  z-index: 1;
}

.name--roster i {
  position: absolute;
  inset: 0;
  display: block;
}

.name--roster i::before {
  content: '';
  position: absolute;
  border: 2px solid #f718ff;
  width: 10px;
  height: 8px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

.card:hover .name--roster i::before {
  width: 20px;
  left: 20%;
}

.name--roster i::after {
  content: '';
  position: absolute;
  border: 2px solid #f718ff;
  width: 19px;
  height: 8px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

.card:hover .name--roster i::after {
  width: 30px;
  left: 80%;
}

::-webkit-scrollbar {
  width: 15px;
  background: #000;

  &-thumb {
    background: #411061;
  }
}

.v-wrestler:hover .v {
  display: block;

}

.v-wrestler .v {
  display: none;

}

/* From uiverse.io by @gagan-gv */
.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.loader::before,
.loader::after {
  content: '';
  border: 7px solid #411061;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader::before {
  animation-delay: 1s;
}

@keyframes loader {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@media screen and (max-width:767px) {

  .card::before,
  .card::after {
    height: calc(60% + 19px);
  }
  .bgWrap{
    height: 135% !important;
  }
}
.bgWrap {
  position: absolute;
  height: 92%;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.bgWrap-h {
  position: absolute;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}